{% extends "base.html" %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
      <div class="card gc-glass-card border-0">
        <div class="card-body p-4 p-lg-5">
          <h1 class="h3 fw-bold mb-2">Set a new password</h1>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-pink w-100" type="submit">Update password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}